.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1,auto);
    grid-template-areas: 
    "titulo titulo"
    "imagen imagen"
    "descripcion descripcion"
    "card-body card-body2"
    "volver volver";
    
    border: solid;
    border-color: #2EE59D;
    margin: 5%;
    border-radius: 2%;
}

.titulo{
    grid-area: titulo;
    margin: 20px;
}

.descripcion{
    grid-area: descripcion;
    margin: 20px;
}

.imagen{
    grid-area: imagen;
    margin: 20px;
}

.volver{
    grid-area: volver;
    margin: 20px;
}

.card{
    
    display: flex;
    align-items: center;
    justify-content: center;
} 

.card-img-top{
    width: 400px;
    height: 200px;
    
    border-radius: 2%;
}

