.cardDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0px;
    background-color: #F6DDCC;
    border: 1px solid #90400C;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgb(128 128 128 / 45%);
    color: #90400C;
    text-decoration: none;
    width: 500px;
    transition: .4s;
    height: auto;
    margin-left: 13rem;
}

.pdes{
    margin: 0;
    padding: 0;
}

.pdes p{
    text-align: justify;
}

.divNuevo{
    display: flex;
}