.btn {
    width: 100px;
}












/* .bp{
    width: 30%;
    min-width: 205px;
    padding: 5px 10px;
    background-color: hsla(0,0%,100%,-0.93);
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
}

.volver{
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 60px;
    width: fit-content;
}

.search{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    left: 116px;
    margin: -28px;
}

.creacion{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    left: 780px;
    margin: -27px;
    
}

.barraPrincipal{
    justify-content: space-between;
}
 .bp_volver{
    width: 30%;
    cursor: pointer;
    min-width: 150px;
    padding: 5px 10px;
    background-color: hsla(0,0%,100%,-0.93);
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    margin: 10px;
    

}

.cardHome{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 17rem);
    gap: 4rem;
    margin-top: 2rem;
    border-radius: 8px;
    
}

h1{
    font-size: 72px;
    line-height: 74px;
    font-weight: 700;
    color: white;
}



.cardsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(33, 33, 33);
    border-radius: 8px;
    
}

.select {
    
    max-width: 250px;
    position: relative;
    
}
     
.select select {
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 35px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background:rgb(33, 33, 33);
	color: #7b7b7b;
	font-size: 1em;
	color:white;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
     justify-content: space-between; 

.select select::-ms-expand {
    display: none;
} 

.select select:hover{
	background: linear-gradient(
        180deg,#fd867d,#b1305c);
}



.select1{
    
    left: 30%;
}

.select2{
    
    left: 143%;
}

.select3{
    
    left: 262%;
}
 
 */