.principal{
    padding: 2% 15% 2%;
}

.botones{
    display: block;
}

#basic-addon1{
    background: transparent;
    color: #FFFF00;
    border: solid;
    border-color: #FFFF00;
}

.option{
    color: #FFFF00;
}

option{
    background: black;
    background-color: black;
    color: blue;
}

.cerrar{
    padding: 3px;
}

.volver{
    font-weight: 700;
    font-size: x-large;
    color: blue;
    
}

.luci{
    color: #FFFF00;
    background: black;
    padding: 15px;
}

.error{
    color: #FFFF00;
    font-weight: 400;
    padding: 10px;
}

.crea{
    color: #FFFF00;
    font-weight: 900;
    margin: revert; 
    margin: 30px;
    margin-top: auto;
}