/* .boton{
    width: auto;
    min-width: 150px;
    padding: 5px 10px;
    background-color: hsla(0,0%,100%,.07);
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
   cursor: pointer;
    margin: 30px;
    margin-top: 36px;
}

label{
    color: white;
    font-weight: 600;
}

.crea{
    color: white;
    background: linear-gradient(
        180deg,#fd867d,#b1305c);
        border-radius: 15px;
    font-weight: 900;
    margin: revert;
    font-size: -webkit-xxx-large; 
    margin: 30px;
    margin-top: auto;
} */