/* .input{
    width: 50%;
    
    height: 23px;
    border-radius: 10px;
    cursor: pointer;
   
    background: linear-gradient(
        180deg,#fd867d,#b1305c);
}

.x {
    width: 68px;
    min-width: 55px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(
        180deg,#fd867d,#b1305c);
}
 */
