.input{
    width: 50%;
    
    height: 23px;
    border-radius: 24px;
    pointer-events:painted;
    background-color: transparent;
}

.x {
    width: 68px;
    min-width: 55px;
    padding: 5px 10px;
    background-color: hsla(0,0%,100%,.07);
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}