.page-item{
    cursor: pointer;
    background-color: transparent;
    
}

.page-link{
    color: #FFFF00;
    background-color: transparent;
    font-weight: 600;
    border: thin solid;
}

.page-link:hover,.page-link:focus{
    font-weight: 600;
    color: #FFFF00;
    background-color:transparent;
    border: #FFFF00;
    box-shadow: 0 0 4px 3px #FFFF00;
}
