.container{
    box-sizing: border-box;
}

.fotop{
    width: 30%;
    margin: 0 auto;
    margin-top: 170px;
}

.boton .bp{
    width: auto;
    min-width: 150px;
    padding: 5px 10px;
    background-color: hsla(0,0%,100%,.07);
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}    





